/* ================== Landing page ======== */
.landing_page {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.landing_wrapp {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  width: 80%;
  margin-top: 50px;
}
.img_shape {
  width: 350px;
  height: 550px;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/petworldpinecone.appspot.com/o/landing_img.png?alt=media&token=31179fb1-40b9-4add-a93f-ee5695abb9a1);
  background-size: cover;
  background-position: center;
  border-radius: 175px;
}
.img_shape::before {
  content: '';
  position: absolute;
  width: 348px;
  height: 550px;
  margin-top: -8px;
  border: 1px solid orange;
  border-radius: 175px;
  z-index: -1;
}
.landing_text_wrapp {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* ================== Navbar ============== */
.nav_wrapp {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px,
    rgba(0, 0, 0, 0.15) -1.95px -1.95px 2.6px;
  z-index: 9;
}
.nav {
  z-index: 10;
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  opacity: 0;
  position: absolute;
  transform: translate(0, -40px);
  transition: transform 0.5s ease, opacity 0.2s ease;
}
.list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transform: translateY(0);
  transition: transform 0.5s ease, opacity 0.2s ease;
}
.list_item_name {
  font-size: 15px;
}
.list_item:hover {
  transform: translateY(-2px);
  color: #4689fd;
}
.list_item:hover .icon {
  transform: translateY(-25px);
  opacity: 1;
}

/* ================== Logo ================= */
.logo {
  background-image: url(../public/Logo-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
}
/* ================= Home Page ============= */
.home_wrapp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* ----------------- Categories ------------ */

.categories_buttons button{
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}
.categories_buttons button:hover {
  background: #4689FD;
  color: white;
  transition: all .2s ease-in-out;
}
/* ----------------- Reel ------------------ */
.team {
  text-align: center;
  font-size: 64px;
  color: #10996d;
  margin: 0 0 70px;
}
.container_1 {
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1040px;
  margin: 0 auto;
}
.profile_1 {
  position: relative;
  transition: all 0.3s;
}

.profile_1:hover {
  transform: translateY(10px);
}
.profile_1 img {
  max-width: 100%;
  border-radius: 50%;
  border: 5px solid #f7f7f7;
  filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
  cursor: pointer;
}

.profile_1:not(:first-child) {
  margin-left: -10px;
}
.profile_1 .name_1 {
  position: absolute;
  background-color: #4689FD;
  color: #fff;
  padding: 10px 20px;
  border-radius: 100px;
  bottom: -40px; left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50px);
  letter-spacing: 1px;
  font-size: 12px;
  opacity: 0;
  transition: all 0.3s;
}
.profile_1 .name_1::before {
  content: "";
  position: absolute;
  width: 15px; height: 15px;
  background-color: #4689FD;
  top: 0; left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.profile_1 img:hover + .name_1 {
  opacity: 1;
  transform: translateX(-50%);
  /* box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3); */
}
/* =================== Banner ============== */
.banner1 {
  background-image: url(../image/banner1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner2 {
  background-image: url(../image/banner3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* ============== Responsive =============== */
@media (max-width: 800px) {
  .menu {
    gap: -20px;
  }
  .search_box {
    width: 100%;
    height: 55px;
  }
}
@media (max-width: 650px) {
  .logo {
    display: none;
  }
  .nav_wrapp {
    position: fixed;
    bottom: 0;
  }
  .nav {
    position: fixed;
    justify-content: center;
    bottom: 30px;
  }
  .list_item_name {
    text-align: center;
    opacity: 0;
    transform: translate(0, 50px);
    transition: transform 0.5s ease, opacity 0.2s ease;
  }
  .icon {
    opacity: 1;
    transform: translate(0, -20px);
  }
  .list_item:hover .list_item_name {
    transform: translateY(5px);
    opacity: 1;
  }
  .wrapper_2 {
    width: 80%;
  }
  .header_wrapper_1,
  .header_wrapper_2 {
    display: none;
  }
}
@media (max-width: 406px) {
  .list_item_name {
    font-size: 12px;
  }
  .wrapper_2 {
    width: 80%;
  }
  .banner_wrapp {
    width: 95%;
  }
}
