.nav_wrapp {
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav {
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 20px;
}
.logo {
  background-image: url(../public/Logo-1.png);
  background-size: contain;
  background-repeat: no-repeat  ;
  width: 80px;
  height: 80px;
}
.home_wrapp {
  display: flex;
  justify-content: center;
}

@media (max-width: 650px) {
  .logo {
    display: none;
  }
  .nav{
    position: fixed;
    justify-content: center;
    bottom: 30px;
  }
}