/* ================== Navbar ============== */
.nav_wrapp {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px,
    rgba(0, 0, 0, 0.15) -1.95px -1.95px 2.6px;
  z-index: 9;
}
.nav {
  z-index: 10;
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon {
  opacity: 0;
  position: absolute;
  transform: translate(0, -40px);
  transition: transform 0.5s ease, opacity 0.2s ease;
}
.list_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transform: translateY(0);
  transition: transform 0.5s ease, opacity 0.2s ease;
}
.list_item_name {
  font-size: 15px;
}
.list_item:hover {
  transform: translateY(-2px);
  color: #4689fd;
}
.list_item:hover .icon {
  transform: translateY(-25px);
  opacity: 1;
}

/* ================== Logo ================= */
.logo {
  background-image: url(../public/Logo-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 50px;
}
/* ================= Home Page ============= */
.home_wrapp {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* ----------------- Categories ------------ */

.categories_buttons button{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}
.categories_buttons button:hover {
  background: #4689FD;
  color: white;
  transition: all .2s ease-in-out;
}
/* ============== Responsive =============== */
@media (max-width: 800px) {
  .menu {
    gap: -20px;
  }
  .search_box {
    width: 100%;
    height: 55px;
  }
}
@media (max-width: 650px) {
  .logo {
    display: none;
  }
  .nav_wrapp {
    position: fixed;
    bottom: 0;
  }
  .nav {
    position: fixed;
    justify-content: center;
    bottom: 30px;
  }
  .list_item_name {
    text-align: center;
    opacity: 0;
    transform: translate(0, 50px);
    transition: transform 0.5s ease, opacity 0.2s ease;
  }
  .icon {
    opacity: 1;
    transform: translate(0, -20px);
  }
  .list_item:hover .list_item_name {
    transform: translateY(5px);
    opacity: 1;
  }
}
@media (max-width: 390px) {
  .list_item_name {
    font-size: 12px;
  }
}
