/* .wrapper {
  height: 100vh;
  overflow: hidden;
  margin-bottom: 120px;
  background-color: antiquewhite;
} */
.leafletContainer {
  height: 100vh;
  overflow: hidden;
  margin: 10px 0;
}

.icon {
  border-radius: 50%;
}
.leafletContainer.leaflet-bottom,
.leafletContainer.leaflet-right {
  background-color: red;
  height: 100px;
  width: 100px;
  overflow: hidden;
}

.saveButton {
  cursor: pointer;
  background: #00cc66;
  border-radius: 1rem;
  padding: 0.85rem 2rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.25rem;
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
