/* .wrapper {
  height: 100vh;
  overflow: hidden;
  margin-bottom: 120px;
  background-color: antiquewhite;
} */
.leafletContainer {
  height: 100vh;
  overflow: hidden;
  margin: 10px 0;
}

.icon {
  border-radius: 50%;
}
