.petProfile_wrapp {
  display: flex;
  justify-content: center;
  width: 100%;
}

.addPet_container {
  width: 80%;
  position: relative;
  background: white;
  position: relative;
  margin-bottom: 120px;
  margin-top: 10px;
}

.pet_container {
  width: 80%;
  position: relative;
  background: white;
  position: relative;
  margin-bottom: 120px;
}

.userProfile_img {
  border-radius: 20px;
  overflow: hidden;
}

.top_icon_btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.icon_btn {
  background: orange;
  color: white;
  border-radius: 50%;
  padding: 5px;
}

.top_button {
  margin-top: 10px;
  border: 1px solid #d1d1d1;
  width: fit-content;
  border-radius: 10px;
}

.buttonActive {
  background-color: #e8f0e4;
  color: #298c16;
  padding: 0.9rem 2rem;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: none;
  padding: 0.9rem 2rem;
  background-color: #ededed;
  font-weight: 600;
  border-radius: 5px;
  font-size: 1rem;
  margin: 0.5rem 0.5rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}


.saveButton {
  cursor: pointer;
  background: #298c16;
  border-radius: 10px;
  padding: 0.85rem 2rem;
  color: #e8f0e4;
  border: none;
  font-weight: 600;
  font-size: 1.25rem;
  width: 80%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.petProfileBox {
  width: 300px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 10px;
}

.paper {
  -webkit-box-shadow: 0px 2px 2px -1px rgb(155, 155, 157, 1);
  -moz-box-shadow: 0px 2px 2px -1px rgb(155, 155, 157, 1);
  box-shadow: 0px 2px 2px -1px rgb(155, 155, 157);
  margin: 10px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.image {
  border-radius: 20px;
  margin: 20px;
  object-fit: cover;
  cursor: pointer;
}

.postTogglerActive {
  color: #00cc66;
  font-weight: 700;
}

.postToggler {
  color: #000;
  font-weight: 700;
}

.postImage {
  object-fit: cover;
  border-radius: 10px;
}

.postDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 10px 20px;
}

.comment {
  border-radius: 10px;
  /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 100%;
}

.commentActive {
  background-color: rgba(44, 44, 44, 0.1);
  width: 100%;
  /* padding: 10px; */
  font-weight: 600;
  outline: none;
  border: none;
}

.commentInActive {
  width: 100%;
  /* padding: 10px; */
  font-weight: 600;
  outline: none;
  border: none;
  background: transparent;
}

.viewMoreBtn {
  background-color: transparent;
  border: none;
  color: #696969;
  text-align: center;
  text-decoration: none;
  /* display: inline-block;
  font-size: 16px; */
}

.profile_wrapp {
  display: flex;
}

.petInfo_text {
  margin-top: 5px;
  text-align: center;
}

.petInfo_text p:nth-child(2) {
  font-weight: 700;
}

/* =========== User profile ============ */

/* --- Pets */
.profile_pets::-webkit-scrollbar {
  display: none;
}

/* ------------------------------------- */
@media (max-width: 650px) {
  .pet_container {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .top_button {
    width: 350px;
  }

  .top_button button {
    margin: 8px 0 8px 8px;
  }

  .profile_info_btn>div {
    flex-direction: column;
    align-items: center;
  }

  .profile_info_btn p {
    font-size: 12px;
  }
}

@media (max-width: 415px) {
  .paper {
    margin: 9px;
    width: 80px;
    height: 80px;
  }

  .petInfo_text p:nth-child(2) {
    font-size: 10px;
  }

  .paper img {
    width: 30px;
    height: 30px;
  }

  .paper p {
    margin: 0;
  }
}

/* ============USER PROFILE================ */
.mainContainer {
  position: relative;
  margin-bottom: 120px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  margin: 20px;
}

.userProfileWrapper {
  display: flex;
  flex-direction: column;
  background: white;
}

.avatarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-left: 5px;
}

.petAvatarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 350px;
  left: 20px;
}

.backIconContainer {
  padding: 20px;
  position: absolute;
  left: 10px;
}

.userAvatarSmall {
  width: 50px;
  height: 50px;
  margin: 10px;
  border: 1px solid;
}

.userAvatar {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -60px;
  left: 30px;
}

.addPetHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.imgUploadContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.titleTypography {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  background: orange;
  width: fit-content;
  padding: 0 20px;
  border-radius: 5px;
}

.label {
  position: absolute;
  top: 80px;
  left: 70px;
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  background-color: #f5f5f7;
  border-radius: 50%;
}

.labelImgModal {
  position: absolute;
  top: 230px;
  left: 210px;
  width: 30px;
  height: 30px;
  border: 3px solid #fff;
  background-color: #f5f5f7;
  border-radius: 50%;
}